@addTagHelper *, Blazor.Core
@using Blazor.Core.Components
@using Blazor.Core.Messaging

@inherits SystemComponent

<ul>
    @for (int i = 0; i < ItemsCount; i++)
    {
        <li><Container Key="@($"ITEM_CONTAINER_{i}")" /></li>
    }
</ul>

<p>To render entire list of <strong>@ItemsCount takes @RenderTime</strong></p>
<button class="btn btn-primary" style="margin: 15px;" onclick="@OnRefreshClick">Reload</button>
<label><input type="checkbox" id="largeData" name="largeData" bind="@UseLargeList" /> Render large set of widgets <i>(1420)</i></label><br />

@functions
{
    private TaskCompletionSource<int> task;

    public bool UseLargeList { get; set; }
    protected int ItemsCount { get; set; }
    protected TimeSpan RenderTime { get; set; }

    public Task CreateContainersAsync(int itemsCount)
    {
        task = new TaskCompletionSource<int>();
        ItemsCount = itemsCount;
        StateHasChanged();
        return task.Task;
    }

    public void SetRenderTime(TimeSpan renderTime)
    {
        RenderTime = renderTime;
        StateHasChanged();
    }

    void OnRefreshClick()
    {
        InteractionPipe.Send<Messages.Click>(new Messages.Click());
    }

    protected override void OnAfterRender()
    {
        if (task == null)
        {
            return;
        }

        var taskToFinish = task;
        task = null;
        taskToFinish.TrySetResult(ItemsCount);
    }
}
