@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@* Widget container *@
<ContainerComponent Key="FIRST_WIDGET" />

<SurveyPrompt Title="How is Blazor working for you?" />

@functions
{ 
    protected override void OnAfterRender()
    {
        // TODO: Build a widget
    }
}
