@page "/mvvm"
@using Blazor.Client.Widgets

<h1>MVVM architecture and widgets</h1>

<p>
    <strong>Coming soon!</strong>
</p>

<p>
    Preview and example of components <i>ViewModelRegion</i> and <i>SystemComponent</i> with a view model.
    Implementation of simple widget, which use a view model to update UI.
</p>