@using Blazor.Core.Components
@inherits SystemComponent

<h1>Counter <sub>(as widget)</sub></h1>

<p>Value: <strong>@Count</strong></p>

<button class="btn btn-primary" onclick="@OnButtonUp">Up</button>
<button class="btn btn-primary" onclick="@OnButtonDown">Down</button>

@functions
{
    [Parameter]
    protected int Count { get; set; }

    public void SetCount(int count)
    {
        Count = count;
        StateHasChanged();
    }

    void OnButtonUp()
    {
        InteractionPipe.Send(new CounterMessage.Increment());
    }

    void OnButtonDown()
    {
        InteractionPipe.Send(new CounterMessage.Decrement());
    }
}